html,
body {
  font-size: 100%;
  scroll-behavior: smooth;
  background: #000000 !important;
  /* overflow-x: hidden !important; */
}

/* Root */
:root {
  --primaryColor: #3dbef5;
  --grey: #131c20;
  --lightGrey: #7a8589;
}
#root {
  position: relative;
  background: url("../src/images/common/frame.svg");
  background-repeat: no-repeat;
  height: auto;
  background-size: cover;
}
@media (max-width: 540px) {
  #root {
    position: relative;
    background: url("../src/images/common/frame-phone.svg");
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
  }
}
.App {
  background: url("https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js%22%3E");
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}

/* Placeholder */
::placeholder {
  color: var(--primaryColor);
  opacity: 0.6;
  text-transform: uppercase;
}

/* Selection */
::selection {
  color: #000;
  background: var(--primaryColor);
}

/* Font Family */
@font-face {
  font-family: Vcr;
  src: url(.././src/fonts/VCR_OSD_MONO_1.001.ttf);
  font-display: swap;
}
@font-face {
  font-family: Robot;
  src: url(.././src/fonts/RobotoMono-Regular.ttf);
  font-display: swap;
}
.font-vcr {
  margin: 0;
  font-family: Vcr !important;
}
.font-robot {
  margin: 0;
  font-family: Robot !important;
}

/* Font Color */
.font-blue {
  color: var(--primaryColor) !important;
}
.font-lightGrey {
  color: var(--lightGrey);
}
.font-grey {
  color: var(--grey) !important;
}

/* Font Size */
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px !important;
}
.font-24 {
  font-size: 24px;
}

.font-25 {
  font-size: 25px;
}

.bg-grey {
  background: var(--grey);
}

.scan-lines {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  z-index: 1;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
}
.scan-lines:before {
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  pointer-events: none;
  background: linear-gradient(#444 50%, #000 50%);
  background-size: 100% 3px;
  background-repeat: repeat-y;
  opacity: 0.12;
  box-shadow: inset 0px 0px 1px 5px rgba(0, 0, 0, 0.8);
}
.scan-lines > div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  pointer-events: none;
}
.scan-lines > div:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.8rem;
  background: #000000;
  background: -webkit-linear-gradient(
    top,
    rgba(0, 255, 255, 0) 0%,
    var(--primaryColor) 50%,
    rgba(0, 0, 0, 0.98) 51%,
    rgba(0, 255, 255, 0) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 255, 255, 0) 0%,
    var(--primaryColor) 50%,
    rgba(0, 0, 0, 0.98) 51%,
    rgba(0, 255, 255, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 255, 255, 0) 0%,
    var(--primaryColor) 50%,
    rgba(0, 0, 0, 0.98) 51%,
    rgba(0, 255, 255, 0) 100%
  );
  opacity: 0.09;
  -webkit-animation: vline 6.25s linear infinite;
  animation: vline 10s linear infinite;
}

.see-all-buttons {
  background: url("./images/common/button.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.see-all-buttons:active {
  background: url("./images/common/button-click.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.text-black {
  color: #131c20;
}

@keyframes vline {
  0% {
    top: 0;
  }
  to {
    top: 100%;
  }
}
.button-hover:hover {
  cursor: pointer;
}
.link {
  text-decoration: none !important;
  color: inherit !important;
  outline: none !important;
}
button:focus {
  outline: none !important;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0 1000px #000 inset;
  -webkit-box-shadow: 0 0 0 1000px #000 inset !important;
  -webkit-text-fill-color: var(--primaryColor) !important;
}

.problem-wrapper {
  width: 85%;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none !important;
}
a.text-center.p-3.nav-item.font-blue.font-16.font-vcr {
  position: relative;
}
input {
  caret-color: #3dbef5 !important;
}
input[type="file"] {
  background: #000;
}
input#file-upload-button {
  background: #000 !important;
  color: var(--primaryColor) !important;
}
@media (max-width: 768px) {
  .content-background {
    padding-top: 5rem !important;
    height: auto;
    background: url("../src/images/common/lines.svg"),
      linear-gradient(130deg, transparent 0, transparent 100%) !important;
    border: none !important;
  }
  .scan-lines {
    display: none;
  }
}
#svg-index {
  z-index: 1000;
}
.pagination-icon {
  font-size: 1.5rem;
}
