#logo {
  object-fit: contain;
  border: none;
  height: 50px;
  width: 382px;
  outline: none;
}
select,
option {
  border: none;
  color: #fff;
  outline: none;
  background: url("../../images/editor/dropdown.svg");
  background-repeat: no-repeat;
  background: #000;
}
select:active {
  border: none;
}
.CodeMirror-scroll {
  background-color: rgba(0, 0, 0, 0.8);
}
textarea {
  color: #fff !important;
  width: 525px;
  background-color: rgba(0, 0, 0, 0.8);
}
button[type="submit"] {
  background: url("../../images/editor/button.svg") no-repeat center;
  border: none;
  outline: none;
  width: 120px;
  height: 40px;
}
.output {
  background-color: black;
}
.code-mirror-wrapper > div {
  border: 1px solid #405c6b;
  background: #000000;
  /* height: 500px; */
}
div.CodeMirror-gutters > div {
  background: #000000;
}
.textarea-input {
  flex: 0.9;
}
.output {
  border: 1px solid #405c6b;
}
.file-button {
  padding: 5px 10px;
  background: #000;
  position: relative;
  border-radius: 2px;
  text-align: center;
  float: left;
  cursor: pointer;
}
.hide-file {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 24px;
  width: 100%;
}
.view-lines, .margin-view-overlays{
  background: #000;
}