{% load i18n %}

{% block subject %}
{% blocktrans %}[{{ site_name }}] Password Reset E-mail{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{{ protocol }}://{{ domain }}/{{ url }}
{% trans "Your email:" %} {{ user.get_username }}

{% blocktrans %}Thanks for using {{ site_name }}!{% endblocktrans %}

{% trans "Regards" %}
{% blocktrans %}Nibble Computer Society{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page and choose a new password:" %}</p>
<a href="{{ protocol }}://{{ domain }}/{{ url }}">{{ protocol }}://{{ domain }}/{{ url }}</a>
<p>{% trans "Your email:" %} <b>{{ user.get_username }}</b></p>

<p>{% blocktrans %}Thanks for using {{ site_name }}!{% endblocktrans %}</p>

{% trans "Regards" %}
<br>
{% blocktrans %}Nibble Computer Society{% endblocktrans %}
{% endblock html_body %}