.lower-section {
  align-items: flex-start;
  justify-content: space-between;
}
.timer {
  background: url("../../images/problems/timerBG.svg") no-repeat;
  background-size: cover;
}
.leadeboard-leads {
  color: #7a8589;
  padding: 18px 28px;
  background-color: #000000;
}

.leaderboard-bg {
  text-align: center;
  align-items: center;
  background-color: #000a0f;
  padding: 22px 32px;
}
.user-image {
  text-align: center;
  height: 30px;
  width: 30px;
  flex: 0.1;
}
.user-name {
  color: #7a8589;
  flex: 0.9;
}
.user-info {
  color: #7a8589;
  max-width: 50%;
}
.user-data {
  color: #7a8589;
}
.event-icon {
  height: 60px;
  width: 60px;
}
.output {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.lower-section-images {
  width: 40%;
}
.lower-section-images img {
  cursor: pointer;
  margin-left: 10px;
}

.pagination span {
  cursor: pointer;
}
@media (max-width: 600px) {
  .lower-section {
    flex-direction: column;
  }
  .output {
    width: 100%;
  }
  select {
    width: 100%;
  }
  .lower-section-images {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .lower-section-images img {
    height: 60px;
  }
}
