.main-background {
  background: url("../../images/home/background.png");
  background-repeat: no-repeat;
  height: auto;
  background-size: cover;
}

.content-background {
  background-image: url("../../images/common/lines.svg"), linear-gradient( 130deg, #010A0F 0, #010A0F 51%, #010A0F 100%);
  background-repeat: no-repeat;
  height: auto;
  background-size: cover;
  border: 0.5px solid #35A4D3 
}

.event-block {
  /* border: 1px solid #35a4d3 !important; */
  background: transparent !important;
}

.event-block:hover {
  background: url("../../images/home/eventBlockHover.png") transparent !important;
  background-repeat: no-repeat !important;
  background-size: contain;
}
