
.content-background {
  background: #010A0F;
  background-repeat: no-repeat;
  height: auto;
  background-size: cover;
  border: 0.5px solid #35A4D3 
}

.event-block {
  /* border: 1px solid #35a4d3 !important; */
  background: transparent !important;
}

.event-block:hover {
  background: url("../../images/home/eventBlockHover.png") transparent !important;
  background-repeat: no-repeat !important;
  background-size: contain;
}

.dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 60;
  pointer-events: none;
}
.dots .dot-1 {
  position: fixed;
  top: 0;
  left: 10%;
  right: 10%;
  height: 100vh;
  pointer-events: none;
}
.dots .dot-1:before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background:var(--primaryColor);
  background: var(--primaryColor);
  opacity: 0.2;
  -webkit-animation: hline 6.25s linear infinite;
  animation: hline 10s linear infinite;
}
.dots .dot-2 {
  position: fixed;
  top: 0;
  left: 40%;
  right: 10%;
  height: 100vh;
  pointer-events: none;
}
.dots .dot-2:before {
  content: "";
  position: absolute;
  top: 15%;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background:var(--primaryColor);
  background: var(--primaryColor);
  opacity: 0.2;
  -webkit-animation: hline 6.25s linear infinite;
  animation: hline 10s linear infinite;
}
.dots .dot-3 {
  position: fixed;
  top: 0;
  left: 20%;
  right: 10%;
  height: 100vh;
  pointer-events: none;
}
.dots .dot-3:before {
  content: "";
  position: absolute;
  top: 75%;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 45%;
  background:var(--primaryColor);
  background: var(--primaryColor);
  opacity: 0.2;
  -webkit-animation: hline 6.25s linear infinite;
  animation: hline 10s linear infinite;
}
.dots .dot-4 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  pointer-events: none;
}
.dots .dot-4:before {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background:var(--primaryColor);
  background: var(--primaryColor);
  opacity: 0.2;
  -webkit-animation: hline 6.25s linear infinite;
  animation: hline 10s linear infinite;
}
.dots .dot-5 {
  position: fixed;
  top: 0;
  left: 10%;
  right: 10%;
  height: 100vh;
  pointer-events: none;
}
.dots .dot-5:before {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background:var(--primaryColor);
  background: var(--primaryColor);
  opacity: 0.2;
  -webkit-animation: hline 6.25s linear infinite;
  animation: hline 10s linear infinite;
}
@keyframes hline {
  0% {
    left: 0;
  }
  to {
    left: 100%;
  }
}