.content-background {
  background-image: url("../../images/common/lines.svg"),
    linear-gradient(130deg, #010a0f 0, #010a0f 51%, #010a0f 100%);
  background-repeat: no-repeat;
  height: auto;
  background-size: cover;
  border: 0.5px solid #3dbef5;
}

.event-block {
  background: transparent !important;
}

.event-block:hover {
  border-image: url("../../images/events/hover_frame.svg");
  border-image-repeat: no-repeat !important;
  background-size: cover;
}
.see-all-button:active {
  opacity: 0.6;
}
.home-events-button-bg {
  background: url("../../images/home/all-events-button-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
}
