.content-background {
  background-image: url("../../images/common/lines.svg"), linear-gradient( 130deg, #010A0F 0, #010A0F 51%, #010A0F 100%);
  background-repeat: no-repeat;
  height: auto;
  background-size: cover;
  border: 0.5px solid #35a4d3;
}

.event-block {
  /* border: 1px solid #35a4d3 !important; */
  background: transparent !important;
}

.event-block:hover {
  background: url("../../images/events/hover_frame.svg") transparent !important;
  background-repeat: no-repeat !important;
  background-size: contain;
}

.dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
}
.dots .dot-left-1 {
  position: fixed;
  top: 0;
  left: 55%;
  right: 10%;
  height: 100vh;
  pointer-events: none;
}
.dots .dot-left-1:before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  width: 18px;
  height: 18px;  
  background: var(--primaryColor);  
  opacity: 0.2;
  -webkit-animation: hlineLeft 10s linear infinite;
  animation: hlineLeft 10s linear infinite;
}
.dots .dot-left-2 {
  position: fixed;
  top: 0;
  left: 58%;
  right: 10%;
  height: 100vh;
  pointer-events: none;
}
.dots .dot-left-2:before {
  content: "";
  position: absolute;
  top: 13%;
  left: 0;
  width: 10px;
  height: 10px;  
  background: var(--primaryColor);  
  opacity: 0.2;
  -webkit-animation: hlineLeft 10s linear infinite;
  animation: hlineLeft 10s linear infinite;
}
.dots .dot-left-3 {
  position: fixed;
  top: 0;
  left: 60%;
  right: 10%;
  height: 100vh;
  pointer-events: none;
}
.dots .dot-left-3:before {
  content: "";
  position: absolute;
  top: 75%;
  left: 0;
  width: 15px;
  height: 15px;  
  background: var(--primaryColor);  
  opacity: 0.2;
  -webkit-animation: hlineLeft 10s linear infinite;
  animation: hlineLeft 10s linear infinite;
}
.dots .dot-left-4 {
  position: fixed;
  top: 0;
  left: 45%;
  right: 0;
  height: 100vh;
  pointer-events: none;
}
.dots .dot-left-4:before {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  width: 10px;
  height: 10px;  
  background: var(--primaryColor);  
  opacity: 0.2;
  -webkit-animation: hlineLeft 10s linear infinite;
  animation: hlineLeft 10s linear infinite;
}
.dots .dot-left-5 {
  position: fixed;
  top: 0;
  left: 55%;
  right: 0;
  height: 100vh;
  pointer-events: none;
}
.dots .dot-left-5:before {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  width: 10px;
  height: 10px;  
  background: var(--primaryColor);  
  opacity: 0.2;
  -webkit-animation: hlineLeft 10s linear infinite;
  animation: hlineLeft 10s linear infinite;
}
@keyframes hlineLeft {
  0% {
    left: inherit;
  }
  to {
    left: 100%;
  }
}



.dots .dot-right-1 {
  position: fixed;
  top: 0;
  left: 10%;
  right: 10%;
  height: 100vh;
  pointer-events: none;
}
.dots .dot-right-1:before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  width: 18px;
  height: 18px;  
  background: var(--primaryColor);
  background: var(--primaryColor);
  opacity: 0.2;
  -webkit-animation: hlineRight 10s linear infinite;
  animation: hlineRight 10s linear infinite;
}
.dots .dot-right-2 {
  position: fixed;
  top: 0;
  left: 20%;
  right: 10%;
  height: 100vh;
  pointer-events: none;
}
.dots .dot-right-2:before {
  content: "";
  position: absolute;
  top: 15%;
  left: 0;
  width: 10px;
  height: 10px;  
  background: var(--primaryColor);
  background: var(--primaryColor);
  opacity: 0.2;
  -webkit-animation: hlineRight 10s linear infinite;
  animation: hlineRight 10s linear infinite;
}
.dots .dot-right-3 {
  position: fixed;
  top: 0;
  left: 15%;
  right: 0;
  height: 100vh;
  pointer-events: none;
}
.dots .dot-right-3:before {
  content: "";
  position: absolute;
  top: 75%;
  left: 0;
  width: 15px;
  height: 15px;  
  background: var(--primaryColor);
  background: var(--primaryColor);
  opacity: 0.2;
  -webkit-animation: hlineRight 10s linear infinite;
  animation: hlineRight 10s linear infinite;
}
.dots .dot-right-4 {
  position: fixed;
  top: 0;
  left: 11%;
  right: 0;
  height: 100vh;
  pointer-events: none;
}
.dots .dot-right-4:before {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  width: 10px;
  height: 10px;  
  background: var(--primaryColor);
  background: var(--primaryColor);
  opacity: 0.2;
  -webkit-animation: hlineRight 10s linear infinite;
  animation: hlineRight 10s linear infinite;
}
.dots .dot-right-5 {
  position: fixed;
  top: 0;
  left: 10%;
  right: 10%;
  height: 100vh;
  pointer-events: none;
}
.dots .dot-right-5:before {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  width: 10px;
  height: 10px;  
  background: var(--primaryColor);
  background: var(--primaryColor);
  opacity: 0.2;
  -webkit-animation: hlineRight 10s linear infinite;
  animation: hlineRight 10s linear infinite;
}
@keyframes hlineRight {
  0% {
    left: inherit;
  }
  to {
    left: 0;
  }
}