.navbar {
  background: url("../../images/common/navbar.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav-item {
  margin-top: 1rem;
  width: 120px;
  background: #131c20;
  border-right: #405c6b 2px solid;
  border-left: #405c6b 2px solid;
}
.nav-item:hover {
  color: #131c20;
  /* background: #35A4D3; */
}
.active-nav-item {
  background: #35a4d3 !important;
  color: #131c20 !important;
  font-weight: 900;
}
