.rules {
  background-color: #000000;
  border: 1px solid #405c6b;
  text-align: left;
  padding-left: 1rem;
}

li {
  list-style-image: url("../../images/eventDetails/pointer.svg");
  padding: 1rem 0 0 0;
  cursor: pointer;
}

.exit {
  text-align: left;
}
.main {
  margin-left: 22px;
}
.codewars {
  align-items: flex-start;
}
.codewars-span {
  margin-left: 10px;
}
.codewar-title {
  flex-direction: column;
}
.codewar-title li:first-of-type {
  margin-top: 10px;
}
.codewar-title li {
  font-size: 16px;
  list-style-image: none !important;
  list-style-type: none !important;
  padding-left: 25px;
}

.leadeboard-leads {
  padding: 18px 28px;
  background-color: #000000;
}

.leaderboard-bg {
  text-align: center;
  align-items: center;
  background-color: #000a0f;
  padding: 22px 32px;
  border-bottom: 1px solid #fff;
}
.user-image {
  text-align: center;
  height: 30px;
  width: 30px;
  flex: 0.1;
}
.user-name {
  flex: 0.9;
}
.user-info {
  max-width: 50%;
}
.user-data {
  border: 1px solid #405c6b;
}
.event-icon {
  height: 60px;
  width: 60px;
}
@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
  }
  .user-info {
    padding-left: 0;
    flex-direction: column;
  }
}
.active-event {
  color: var(--primaryColor);
}
