.avatar-container img:hover {
  cursor: pointer;
}

#avatar-sign-up > img.active-avatar {
  transform: scale(1) !important;
}

#avatar-sign-up > img {
  transform: scale(0.7) !important;
  height: 60px !important;
  width: 60px !important;
}
