#logo {
  object-fit: contain;
  border: none;
  height: 50px;
  width: 382px;
  outline: none;
}
select,
option {
  border: none;
  color: #fff;
  outline: none;
  background: url("../../images/editor/dropdown.svg");
  background-repeat: no-repeat;
  background: #000;
}
select:active {
  border: none;
}
.CodeMirror-scroll {
  background-color: rgba(0, 0, 0, 0.8);
}
textarea {
  color: #fff !important;
  width: 525px;
  height: 137px;
  background-color: rgba(0, 0, 0, 0.8);
}
button[type="submit"] {
  background: url("../../images/editor/button.svg") no-repeat center;
  border: none;
  outline: none;
  width: 120px;
  height: 40px;
}
.output {
  background-color: black;
}
div.react-codemirror2.code-mirror-wrapper > div {
  border: 1px solid #405c6b;
  background: #000000;
}
div.CodeMirror-gutters > div {
  background: #000000;
}
.textarea-input {
  flex: 0.9;
}
.output {
  border: 1px solid #405c6b;
}
