html,
body {
  font-size: 100%;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  background: #000000 !important;
}

/* Root */
:root {
  --primaryColor: #35a4d3;
  --grey: #131c20;
  --lightGrey: #7a8589;
}
#root {
  position: relative;
  background: url("../src/images/home/background.png");
  background-repeat: no-repeat;
  height: auto;
  background-size: cover;
}
@media (max-width: 1350px) {
  #root {
    background: url("../src/images/common/background-md.svg");
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
  }
}
@media (max-width: 950px) {
  #root {
    background: url("../src/images/common/background-sm.svg");
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
  }
}
@media (max-width: 760px) {
  #root {
    background: transparent;
  }
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}

/* Placeholder */
::placeholder {
  color: var(--primaryColor);
}

/* Font Family */
@font-face {
  font-family: Vcr;
  src: url(.././src/fonts/VCR_OSD_MONO_1.001.ttf);
  font-display: swap;
}
@font-face {
  font-family: Robot;
  src: url(.././src/fonts/RobotoMono-Regular.ttf);
  font-display: swap;
}
.font-vcr {
  margin: 0;
  font-family: Vcr !important;
}
.font-robot {
  margin: 0;
  font-family: Robot !important;
}

/* Font Color */
.font-blue {
  color: var(--primaryColor) !important;
}
.font-lightGrey {
  color: var(--lightGrey);
}
.font-grey {
  color: var(--grey) !important;
}

/* Font Size */
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px !important;
}

/* Scan Lines */
.scan-lines {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
}
.scan-lines:before {
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  pointer-events: none;
  background: linear-gradient(#333 50%, #000 50%);
  background-size: 100% 3px;
  background-repeat: repeat-y;
  opacity: 0.25;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
}
.scan-lines > div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  pointer-events: none;
}
.scan-lines > div:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.2rem;
  background: #000000;
  background: -webkit-linear-gradient(
    top,
    rgba(0, 255, 255, 0) 0%,
    var(--primaryColor) 50%,
    rgba(0, 0, 0, 0.98) 51%,
    rgba(0, 255, 255, 0) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 255, 255, 0) 0%,
    var(--primaryColor) 50%,
    rgba(0, 0, 0, 0.98) 51%,
    rgba(0, 255, 255, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 255, 255, 0) 0%,
    var(--primaryColor) 50%,
    rgba(0, 0, 0, 0.98) 51%,
    rgba(0, 255, 255, 0) 100%
  );
  opacity: 0.04;
  -webkit-animation: vline 6.25s linear infinite;
  animation: vline 6.25s linear infinite;
}
@keyframes vline {
  0% {
    top: 0;
  }
  to {
    top: 100%;
  }
}
.button-hover:hover {
  cursor: pointer;
}
.link {
  text-decoration: none !important;
  color: inherit !important;
  outline: none !important;
}
