html,
body {
  font-size: 100%;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}
:root {
  --blue: #35a4d3;
  --grey: #131c20;
  --lightGrey: #7a8589;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}
@font-face {
  font-family: Vcr;
  src: url(.././src/fonts/VCR_OSD_MONO_1.001.ttf);
  font-display: swap;
}
@font-face {
  font-family: Robot;
  src: url(.././src/fonts/RobotoMono-Regular.ttf);
  font-display: swap;
}
.font-vcr {
  margin: 0;
  font-family: Vcr !important;
}
.font-robot {
  margin: 0;
  font-family: Robot !important;
}
.font-blue {
  color: #35a4d3;
}
.font-lightGrey {
  color: var(--lightGrey);
}
.font-grey {
  color: var(--grey) !important;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px !important;
}
.form-control{
  background-image: url('../src/images/auth/input.png'), linear-gradient( 130deg, #010A0F 0, #010A0F 51%);
  background-repeat: no-repeat;
  background-size: contain;
  border: none !important;
}
input:focus{
  border: none !important;
  outline: none;
}