.navbar {
  background-image: url("../../images/common/lines.svg"), linear-gradient( 180deg, #010A0F 60%, transparent 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav-item {
  margin-top: 1rem;
  padding: 7px 30px !important;
  background: url(../../images/common/nav-item.svg);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
}
.nav-item:hover {
  color: #131c20;
  /* background: #35A4D3; */
}
.active {
  color: var(--grey) !important;
  font-weight: bold;
  background: var(--primaryColor);
}

.sidebar {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 25vw;
  height: 100%;
  z-index: 1;
  background-color: #131C20;
  color: #7A8589;
  border-left: 2px solid #405C6B;
  animation: all 1s ease;
  display: block;
}

@media (max-width: 900px) {
  .sidebar {
    min-width: 35vw;
  }
}
@media (max-width: 500px) {
  .sidebar {
    min-width: 70vw;
    text-align: center;
  }
}

.sidebar-item:hover{
  background-color: #35a4d3;
  color: #fff;
}