.navbar {
  background: url("../../images/common/navbar.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav-item {
  margin-top: 1rem;
  padding: 15px 30px !important;
  background: #131c20;
  border-right: #405c6b 2px solid;
  border-left: #405c6b 2px solid;
}
.nav-item:hover {
  color: #131c20;
  /* background: #35A4D3; */
}
.active-nav-item {
  background: #35a4d3 !important;
  color: #131c20 !important;
  font-weight: 900;
}

.search-overlay {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 25vw;
  height: 100%;
  z-index: 1;
  background-color: #131C20;
  animation: all 1s ease;
  display: block;
  padding: 20px;
}

@media(max-width: 900px){
  .search-overlay {    
    min-width: 35vw;
  }
}
@media(max-width: 500px){
  .search-overlay {    
    min-width: 100vw;    
    text-align: center;
  }
}