.navbar {
  background-image: url("../../images/common/lines.svg"),
    linear-gradient(180deg, #010a0f 60%, transparent 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav-item {
  margin-top: 1rem;
  padding: 7px 30px !important;
  background: url(../../images/common/nav-item.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-item:hover {
  color: #131c20;
}

.active {
  color: var(--grey) !important;
  font-weight: bold;
  background: var(--primaryColor);
}

/****************************************** Sidebar ******************************************/
.sidebar {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 25vw;
  height: 65%;
  z-index: 1;
  background-color: #131c20;
  color: #7a8589;
  border-left: 2px solid #405c6b;
  animation: all 1s ease;
  display: block;
}

@media (max-width: 900px) {
  .sidebar {
    min-width: 50vw;
  }
}
@media (max-width: 500px) {
  .sidebar {
    min-width: 100vw;
  }
}

.sidebar-item:hover {
  background-color: #3dbef5;
  color: #fff;
}
.sidebar-item-active {
  background-color: #3dbef5;
  color: #fff;
}

/****************************************** Navbar Lines ******************************************/
.nav-item.line::before {
  content: "";
  z-index: 0;
  height: 1px;
  width: 100%;
  position: absolute;
  right: 0;
  background: var(--lightGrey);
  transform: translateX(99%);
  top: 50%;
}

.nav-item.editor::before {
  content: "";
  z-index: 10;
  height: 1px;
  width: 125%;
  position: absolute;
  right: -135px;
  background: var(--lightGrey);
  transform: rotate(150deg);
  top: -74%;
}

.nav-item.home::after {
  content: "";
  z-index: 10;
  height: 1px;
  width: 141%;
  position: absolute;
  right: 89px;
  background: var(--lightGrey);
  transform: rotate(30deg);
  top: -71%;
}
